body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
  
  .title {
    font-size: 15em;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
  }
  
  h3 {
    padding-top: 0.25em;
  }
  
  .vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(255, 255, 255, 0.25), 0 0.4em 1.25em 0 rgba(255, 255, 255, 0.15) !important;
    padding: 2em 3em !important;
  }
  
  .datee {
    color: #ffffff;
  }
  
  #description {
    margin: 1.5em 0 2em 0;
  }
  
  .button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: white;
  }
  
  .workButton {
    color: #fff !important;
    background-color: #623686 !important;
  }
  
  .workButton:hover {
    color: #fff !important;
    background-color: #6d20c5d7 !important;
  }
  

  @media only screen and (max-width: 1190px) {
    .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      color: #7b249d;
      margin-top: 1.5em;
    }
  }
  